<template>
        <!-- селект для выбора фильтров -->
        <v-select
            label="Фильтр"
            :items="optionsFilter"
            item-title="text"
            item-value="value"
            v-model="selectFilter"
        ></v-select>
        <!-- предупреждение об отсутсвии выбранного фильтра -->
        <v-alert
            v-if="warning"
            density="compact"
            type="warning"
            title="Пожалуйста, выберите фильтр"
        ></v-alert>
        <!-- поисковая строка по данным из таблицы -->
        <v-text-field
            v-model="search"
            prepend-inner-icon="mdi-magnify"
            label="Поиск"
            single-line
            hide-details
        ></v-text-field>
        <!-- таблица -->
        <v-data-table-server
            :headers="headers"
            :items="tableData"
            :loading="loading"
            :items-length="totalLength"
            loading-text="Пожалуйста, подождите"
            :items-per-page="itemsPerPage"
            class="elevation-1"
            :search="search"
            :custom-filter="filter"
            @update:options="options = $event"
            >
            <!-- столбец со ссылкой на документ -->
            <template #[`item.si_name`]="{ item }">
                <p>Рег. номер СИ: {{ item.value.si_number }}</p>
                <p>Модификация: {{ item.value.modification }}</p>
                {{ item.value.si_name }}
            </template>
            <template #[`item.metrologist_fullname`]="{ item }">
                <p>{{ filterName(item.value.metrologist_fullname) }} ({{ item.value.metrologist_countperday }})</p>
            </template>
        </v-data-table-server>
</template>

<script>
import api from '../api'
export default {
    data () {
      return {
        options: {},
        warning: false,
        search: '',
        loading: true,
        headers: [
          {
            title: 'Дата проверки',
            align: 'start',
            key: 'verification_at',
            sortable: false,
            width: 120
          },
          { title: 'Номер поверки в журнале РР', key: 'journal_number', sortable: false, width: 270},
          { title: '№ в ГР', key: 'si_number', sortable: false, width: 100 },
          { title: 'Наименование СИ', key: 'si_name', sortable: false },
          { title: 'Зав. № / БЦО', key: 'number', sortable: false, width: 135, align: 'end' },
          { title: 'Метролог', key: 'metrologist_fullname', sortable: false, width: 200 }
        ],
        tableData: [],
        paginationData: [],
        totalLength: 0,
        itemsPerPage: 25,
        optionsFilter: [
            { text: 'Общее поле фильтрации по "Наименование СИ", "Заводской №", "Свидетельство/Извещение"', value: 'multicolumn' },
            { text: '№ в гос. реестре', value: 'si_number' },
            { text: 'УШЗП', value: 'sign' },
            { text: 'Обозначение типа СИ', value: 'si_designation' },
            { text: 'Тип поверки', value: 'vritype_id' }
        ],
        selectFilter: '',
        
      }
    },
    watch: {
        options: {
            handler () {
                this.getDataFromApi()
            },
            deep: true,
        },
    },
    methods: {
        getDataFromApi(){
            this.loading = true
            api.get('/results', {
            params:{
                page:this.options.page,
                size: this.options.itemsPerPage
            }
            }).then(response => {
                console.log(response.data);
                this.paginationData = response.data
                this.tableData = response.data.data;
                this.totalLength = this.paginationData.found_rows
                // редактирование данных по условию
                
                this.loading = false
            })
        },
        filter (value, query, filter) {
            // валидация на отсутсвие фильтров
            if (this.selectFilter == '') {
                this.warning = true
                return 
            } else {
                this.warning = false
            }
            // фильтр по выбранному столбцу
            if (this.selectFilter != 'multicolumn') {
                let itemFilter = filter.raw[this.selectFilter].toLowerCase()
                if (itemFilter.includes(query.toLowerCase())) {
                    return true
                } else {
                    return false
                }
            // фильтр по трем столбцам
            } else {
                if (filter.raw.si_name.toLowerCase().includes(query.toLowerCase()) || 
                    filter.raw.number.toLowerCase().includes(query.toLowerCase()) || 
                    filter.raw.certnotice.toLowerCase().includes(query.toLowerCase())) {
                    return true
                } else {
                    return false
                }
            }  
        },
        filterName(metrologist_fullname){
            let surname = metrologist_fullname.split(' ')[0]
            let name = metrologist_fullname.split(' ')[1]
            let patronymic = metrologist_fullname.split(' ')[2]
            return `${surname} ${name[0]}. ${patronymic[0]}.`
        }
    }
}
</script>
