<template>
  <v-app>
    <v-main>
      <VerificationTable/>
    </v-main>
  </v-app>
</template>

<script>
import VerificationTable from './components/VerificationTable.vue';

export default {
  name: 'App',

  components: {
    VerificationTable
},

  data: () => ({
    //
  }),
}
</script>
